.user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px
}

@media screen and (max-width: 767px) {
  .user-info {
    gap: 28px
  }
}

@media screen and (max-width: 839px) {
  .user-info {
    gap: 28px
  }
}

@media screen and (max-width: 578px) {
  .user-info {
    gap: 24px
  }
}