.user-info {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  gap: 60px
}

@media screen and (max-width: 767px) {
  .user-info {
    gap: 28px
  }
}

@media screen and (max-width: 839px) {
  .user-info {
    gap: 28px
  }
}

@media screen and (max-width: 578px) {
  .user-info {
    grid-template-columns: repeat(2, max-content);
    gap: 24px
  }
}