.profile__container-faq-section {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

@media screen and (max-width: 578px) {
  .profile__container-faq-section {
    gap: 28px;
  }
}

.profile__faq-title-main {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.profile__container-faq-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
}