.edit-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #466EFA;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('../../assets/icons/edit_button.svg');
  background-repeat: no-repeat;
  background-position: 6px center;
  background-size: 16px;
  padding-left: 30px;
  margin-top: 4px;
  font-family: "Gilroy";
}

@media screen and (max-width: 578px) {
  .edit-button {
    width: 32px;
    height: 32px;
    background-position: 9px center;
    margin-top: 6px;
  }
}