.edit-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #0024A4;
  background-color: transparent;
  border: none;
  cursor: pointer;
  background-image: url('../../assets/icons/edit_button.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 24px;
}